@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    background: linear-gradient(to right, #6cb027, #69a6d9);
}

nav {
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

.logo {
    flex-basis: 20%;
}

.logo img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    color: black;

    height: 30px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    padding: 2px;
    padding-top: 15px;
    border-radius: 2rem;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
}

* {
    font-family: "Poppins,sans-serif";
    margin: 0;

    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #6cb027, #69a6d9);
    justify-content: center;

    display: flex;
    align-items: center;
}

.login {
    border: 1px solid white;
    backdrop-filter: blur(20px);
    margin-top: 50px;
}

.form {
    max-width: 430px;
    width: 100%;
    border-radius: 6px;

    padding: 20px;
}

header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

form {
    margin-top: 30px;
}

.form .field {
    height: 50px;
    width: 100%;
    position: relative;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input {
    border: 1px solid#cacaca;
    padding: 0 15px;
}

.field input:focus {
    border-bottom-width: 2px;
}

.eye-icon {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    position: absolute;
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button {
    background-color: #6a983c;
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
}

.form a {
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    color: #d4d4d4;
    margin: 36px 0;
}

.line::before {
    content: "or";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #232836;
    padding: 0 15px;
}

.media-options a {
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

a.facebook {
    background-color: #4267b2;
    color: #fff;
}

.a.facebook .facebook-icon {
    height: 28px;
    width: 28px;
    background-color: #fff;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facebook-icon,
.google-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.a.google .google-icon {
    background-color: #ffff;
}

a.google {
    border: 1px solid #cacaca;
}

a.google span {
    font-weight: 500;
    opacity: 0.6;
    color: #232826;
}
#snick{
    font-size: 50px;

        font-family: "Spicy Rice", serif;
        font-weight: 400;
        font-style: normal;
      
      
}
